@font-face {
  font-family: 'FibraOneRegular';
  src: url('../assets/fonts/FibraOne/FibraOneRegular.otf');
}

@font-face {
  font-family: 'LexendRegular';
  src: url('../assets/fonts/Lexend/Lexend-Regular.ttf');
}

@font-face {
  font-family: 'LexendThin';
  src: url('../assets/fonts/Lexend/Lexend-Thin.ttf');
}

:root {
  --primary-color: rgba(250, 96, 96, 0.397);
}

.container {
  width: 80%;
  /* background-color: aliceblue; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.badge {
  padding: 0 15px !important;
  background: rgba(255, 16, 16, 0.904) !important;
  /* font-size: 16px !important; */
  font-family: 'LexendThin' !important;
  text-transform: capitalize !important;
  letter-spacing: 1px !important;
  cursor: pointer !important;
  margin-right: 10px !important;
  margin-bottom: 10px !important;
}

