@font-face {
  font-family: 'LexendRegular';
  src: url('../assets/fonts/Lexend/Lexend-Regular.ttf');
}

@font-face {
  font-family: 'LexendMedium';
  src: url('../assets/fonts/Lexend/Lexend-Medium.ttf');
}

:root {
  --primary-color: rgb(255, 83, 83);
}

.text {
  color: rgb(58, 58, 58);
  font-size: 16px;
  font-family: 'LexendRegular' !important;
}

.checkbox {
  margin-top: 1em;
}

.checkbox span {
  color: var(--primary-color);
  font-family: 'LexendMedium' !important;

}

.checkbox input {
  border: 3px solid rgb(97, 97, 97) !important;
  border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  -o-border-radius: 0px !important;
}.checkbox path {
  fill: var(--primary-color) !important;
}

.checkbox input:checked {
  border-color: var(--primary-color) !important;
}

.colored {
  color: rgb(255, 85, 85) !important;
}

@media screen and (max-width: 650px) {
  .text {
    font-size: 17px !important;
  }
}