@font-face {
  font-family: 'FibraOne';
  src: url('../../../assets/fonts/FibraOne/FibraOneSemiBold.otf');
}

.box {
  width: 100% !important;
  padding: 0.8rem 0;
  background-color: rgb(221, 221, 221);
  position: fixed !important;
  top: 0 !important;
  z-index: 99999 !important;
  transition: top 0.3s !important;
  -webkit-transition: top 0.3s !important;
  -moz-transition: top 0.3s !important;
  -ms-transition: top 0.3s !important;
  -o-transition: top 0.3s !important;
}

.header {
  height: rem(60px);
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.link {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  text-decoration: none;
  color: light-dark(var(--mantine-color-white), var(--mantine-color-black));
  font-weight: 700;
  font-size: var(--mantine-font-size-sm);
  font-family: 'FibraOne', sans-serif;


}

.subLink {
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
  }
}

.dropdownFooter {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
  margin: calc(var(--mantine-spacing-md) * -1);
  margin-top: var(--mantine-spacing-sm);
  padding: var(--mantine-spacing-md) calc(var(--mantine-spacing-md) * 2);
  padding-bottom: var(--mantine-spacing-xl);
  border-top: rem(1px) solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}
