.image {
  position: absolute;
  /*top: 25px !important;*/  
  left: 0;
  width: 40% !important;
  height: 100% !important;
  border-radius: 12px !important;
  filter: opacity(0.5) !important;
  -webkit-filter: opacity(0.5) !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 12px !important;
  -moz-border-radius: 12px !important;
  -ms-border-radius: 12px !important;
  -o-border-radius: 12px !important;
}