.modal header {
  position: absolute;
  right: 0;
}

.modal section {
  border-radius: 1em;
  border: 5px solid #7c7c7cc5 ;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}