@font-face {
  font-family: 'LexendRegular';
  src: url('../assets/fonts/Lexend/Lexend-Regular.ttf');
}

.container {
  width: 100%;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: start !important;
  margin-top: 20px !important;
  margin-bottom: 10px !important;
}

.text {
  width: 90% !important;
  font-family: 'LexendRegular' !important;
  font-size: 12px !important;
  text-align: center !important;
  margin-left: 0 !important;
}
