@font-face {
  font-family: 'LexendRegular';
  src: url('../../../assets/fonts/Lexend/Lexend-Regular.ttf');
}

@font-face {
  font-family: 'LexendBold';
  src: url('../../../assets/fonts/Lexend/Lexend-SemiBold.ttf');
}

.container {
  width: 100%;
  display: flex !important;
  flex-direction: column !important;
  margin-bottom: 14px !important;
  /* background-color: red !important; */
}

.title {
  font-family: 'LexendBold' !important;
  font-size: 1.7em !important;
  margin-top: 14px !important;
  margin-bottom: 1px !important;
}