
/* ---------- CANTIDAD BUTTONS ----------  */

.container_amount {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;  
}

.amount_text {
  font-family: 'LexendThin';
  font-size: 16px !important;
  color: black;
  margin-bottom: 15px !important;
}

.flex_amount {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.amount_value {
  font-family: 'LexendRegular';
  font-size: 24px !important;
  margin-right: 30px !important;
  margin-left: 30px !important;
}

.decrement_action,
.increment_action {
  background-color: #D9D9D9 !important;
  border-radius: 2em !important;
}

.decrement_action {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}