:root {
  --primary-color: rgb(255, 83, 83);
  --bg-color: rgb(253, 253, 253);
  overflow-x: hidden;
}

/* --------- SCROLLBAR --------- */

::-webkit-scrollbar {
  width: 3px;               /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: var(--primary-color);        /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: rgb(92, 92, 92);
  border-radius: 20px;       /* roundness of the scroll thumb */
}

::-webkit-scrollbar-track {
  background-color: var(--primary-color);
}

/* --------- SCROLLBAR --------- */

.section {
  width: 100vw;
  background-color: aliceblue;
  margin-top: 7vh !important;
}

.container {
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  padding: 2em 0 !important;
  overflow: hidden;
}

.section,
.article {
  min-width: 100vw;
}


.article {
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: var(--bg-color);
  padding: -10px 0 !important;
  overflow: hidden;
}

.action_icon_cart {
  width: 35px !important;
}

.cart {
  color: black !important;
  margin-right: 10px;
}

/* NOTIFICATION */

div[data-portal="true"] {
  position: fixed !important;
  top: 0px !important;
  z-index: 999999 !important;
}

/* RECEIPE */

div[data-portal="true"].mantine-Stepper-steps {
  background-color: red !important;
  color: red !important;
  position: absolute !important;
}

.badges_container {
  width: 90vw !important;
}