

.last_step_container {  
  width: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 15px !important;
  margin-left: 25px !important;
}

.form_container {
  width: 95% !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.title {
  font-family: 'LexendRegular' !important;
  color: white !important;
  font-size: 2em !important;
  margin-bottom: 20px !important;
  z-index: 9999;
  text-shadow: 
    1px 1px 10px #8C8C8C,
    1px 1px 10px #8C8C8C !important;
}

.input {
  width: 100% !important;
  color: var(--text-color) !important;
  margin-bottom: 10px !important;
  /* background-color: red !important; */
}

.input input {
  width: 100% !important;
  border: 1.5px solid var(--border-color);
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
}

.nombre, .apellido {
  width: 47% !important;
}

.direccion {
  width: 65% !important;
}

.nro {
  width: 30% !important;
}

.total_container {
  display: flex !important;
  flex-direction: row !important;
  justify-content: end !important;
  align-items: center !important;
  width: 100% !important;
  height: fit-content !important;
  margin-right: 60px !important;
  /* margin-top: 10px !important; */
  /* background-color: rgba(123, 147, 255, 0.13); */
}

.total_title {
  font-family: 'FibraOneSemiBold' !important;
  font-size: 28px !important;
  color: white !important;
  margin-right: 15px !important;
  text-shadow: 
    1px 1px 10px #c5c5c5,
    1px 1px 10px #c5c5c5,
    1px 1px 10px #c5c5c5,
    1px 1px 10px #c5c5c5,
    1px 1px 10px #c5c5c5,
    1px 1px 10px #c5c5c5 !important;
}

.total_value {
  font-family: 'FibraOneBold' !important;
  font-size: 20px !important;
  color: #2C2C2C !important;
}

.transfer {
  width: 100% !important;
  margin-top: -5px !important;
  margin-bottom: 10px !important;
  margin-left: 30px !important;
  /* background-color: red !important; */
  font-size: 13px !important;
  font-family: 'LexendRegular' !important;
  color: #818181 !important;
}

.transfer_info {
  margin-left: 5px !important;
}