.imagen {
  width: 80vw !important;
  height: 100% !important;
  background-color: red;
}



.marco, .glass {
  position: absolute;
  width: 70vw !important;

}

.marco {
}

.glass {
  height: 100%;
  z-index: 500 !important;
}

.circles {
  width: 50%;
  top: 20px !important;
  left: 50px !important;
  position: absolute;
  filter: opacity(0.9);
  -webkit-filter: blur(0px);
  animation: slidein 3s !important;
  -webkit-animation: slidein 3s !important;
  filter: blur(0px);
  z-index: 900;
}

/* realizar una animación de entrada y salida de la imagen, para ello se debe agregar la siguiente clase en el archivo prueba.module.css */
@keyframes slidein {
  0% {
    margin-left: 100%;
    width: 300%;
  }

  50% {
    margin-left: 0%;
    width: 60%;
  }

  60% {
    filter: blur(0px);
  }

  70% {
    filter: blur(10px);
  }

  100% {
    filter: blur(0px);
  }
}

.individual_circle {
  width: 10px;
  position: absolute;
  left: 42%;
  top: 30%;
  z-index: 1000;
  translate: 170px 125px;
  scale: 20;
  animation: dimensional 3s infinite;
  filter: blur(1px);
  -webkit-filter: blur(1px);
  -webkit-animation: dimensional 3s infinite;
}

@keyframes dimensional {
  0% {
    translate: 170px 125px;
    scale: 20;
  }

  20% {
    filter: blur(0.2px);
    -webkit-filter: blur(0.2px);
}

  80% {
    translate: 0px 0px;
    scale: 1;
  }

  90% {
    translate: -10px -5px;
    scale: 0.5;
  }
  
  100% {
    /*scale: -0.5;
    */translate: -20px 0px;
    scale: 0;
    filter: blur(0px);
    -webkit-filter: blur(0px);
  }
}
